<%= form_for @member, :html => { :class => "form-horizontal member" } do |f| %>

    <% if @member.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:position]) %>
  </div>
  <div class="control-group">
    <%= f.label :job_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_title, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:job_title]) %>
  </div>
  <div class="control-group">
    <%= f.label :line2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :line2, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:line2]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5 , :class => 'form-control' %>
    </div>
    <%= error_span(@member[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :avatar_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :avatar_file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:avatar_file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:avatar]) %>
  </div>
  <div class="control-group">
    <%= f.label :avatar2_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :avatar2_file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:avatar2_file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :avatar2, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar2, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:avatar2]) %>
  </div>

<br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            members_path, :class => 'btn btn-default' %>

<% end %>
